*{
    margin:0 ;
    padding: 0;
}


body{
     background: linear-gradient(rgba(0,0,0,0.5),
   rgba(0,0,0,0.5)),
   url(https://play-lh.googleusercontent.com/EUgRlCOH_jwtW39SaG7XeKq8pJsQfKkZB4MYED18npdsKeRZDmN9xVsSV3nbpoJGgIU=w526-h296-rw);
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat:repeat;
    height: 100vh;
   
    justify-content: center;
}

.container{
    height: 80vh;
     display: flex;
    justify-content: center;
    align-items:center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items:center;
    gap: 1.5vmin; 
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: 2px solid rgba(212, 138, 203, 0.7);
    font-size: 8vmin;
    color: inherit;
    background: rgba(243, 199, 236, 0.3);
    backdrop-filter: blur(8px);
    box-shadow: 0 6px 0 rgba(72, 119, 213, 0.9);
    transition: all 0.1s ease;
}


#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(245, 15, 23);
    color: aliceblue;
    border-radius: 1rem;
    border:none ;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #e90a0a;
    color: aliceblue;
    border-radius: 10rem;
    border:none ;
}
#msg{
    color: aliceblue;
    font-size: 7vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}
.hide{
    display: none;
}
h1{
    font-size: 50px;
    color: aliceblue;
  
}
